<%- include('../layout/header.ejs')%>

<% 
if (typeof message !=='undefined') {
  %>
  <h4><%= message %></h4>
  <%
  
}
%>

<section class="vh-100 bg-image"
  style="background-image: url('https://media.istockphoto.com/id/506177878/photo/chalkboard-back-to-school-theme.jpg?b=1&s=170667a&w=0&k=20&c=DxQK_ChVu4t-mFA1e51RDFZHJux5NSLwREz6UCXZVDk=');">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;background-color: rgba(32, 31, 31, 0.365);">
            <div class="card-body p-5 text-center bg-color" style=" height: 500px;">
  
              <h3 class="mb-5 text-secondary">ADMIN</h3>
                <form action="/admin" method="post" id="login">
              <div class="form-outline mb-4">
                <input name="email" type="email" id="typeEmailX-2" class="form-control form-control-lg bg-secondary transparent-input"" />
                <label class="form-label" for="typeEmailX-2">Email</label>
              </div>
  
              <div class="form-outline mb-4">
                <input name="password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>
  
             
  
              <button class="btn btn-secondary btn-lg btn-block" type="submit">Login</button>
            </form>
                           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  
<% include('../layout/footer.ejs')%> 