<%- include('../layout/header.ejs')%>
 
<section class="baground-image vh-75 bg-image"
style="background-image: url('https://www.freecodecamp.org/news/content/images/2021/10/dark.jpg'); background-size: cover;">
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px; background-color: rgba(32, 31, 31, 0.365);">
          
        
          <div class="card-body p-5">
            <h2 class="text-uppercase text-secondary text-center mb-5">Create an account</h2>
      <h4 class="text-danger"><%= message %></h4>
            <form action="/register" method="post">

              <div class="form-outline mb-4">
                <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="fname" />
                <label class="form-label text-secondary " for="form3Example1cg">Your Name</label>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="form3Example3cg" class="form-control form-control-lg" name="email" />
                <label class="form-label text-secondary " for="form3Example3cg">Your Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="number" id="form3Example4cg" class="form-control form-control-lg" name="mobile" />
                <label class="form-label text-secondary " for="form3Example4cg">Enter your mobile number</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="form3Example4cdg" class="form-control form-control-lg"
                  name="password" />
                <label class="form-label text-secondary " for="form3Example4cdg"> password</label>
              </div>


              <div class="d-flex justify-content-center">

                <input type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
              </div>
              <p class="text-center text-secondary  mt-5 mb-0">Have already an account? <a href="/login"
                  class="fw-bold text-secondary text-body"><u>Login here</u></a></p>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<% include('../layout/footer.ejs')%>